<div class="card-center">
    <mat-card class="example-card">
        <mat-tab-group>
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon class="example-tab-icon">account_circle</mat-icon>
                    Login
                </ng-template>
                <form [formGroup]="FormLogin" (ngSubmit)="Login()">
                    <mat-list>
                        <mat-list-item>
                            <mat-form-field>
                                <input matInput placeholder="Ingresa tu email" name="emailLogin" formControlName="emailLogin"
                                 required>
                                <mat-error *ngIf="email.invalid">{{getErrorMessageLogin()}}</mat-error>
                            </mat-form-field>
                        </mat-list-item>

                        <mat-list-item>
                            <mat-form-field>
                            <input matInput placeholder="Contraseña"  name="claveLogin" formControlName="claveLogin" [type]="hide ? 'password' : 'text'"
                            required >
                            <label mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </label>
                            </mat-form-field>
                        </mat-list-item>

                        <mat-list-item>
                            <div class="btn-center">
                                <button mat-flat-button color="primary">Entrar</button>
                            </div>
                        </mat-list-item>
                    </mat-list>
                </form>
            </mat-tab>

            <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon">person_add</mat-icon>
                Registrarse
            </ng-template>
            <mat-spinner class="center-snipper" *ngIf="loading"></mat-spinner>

            <div #card class="example-container">
                <form [formGroup]="Form" (ngSubmit)="Registrar()">
                    <mat-list>
                        <mat-list-item>
                            <mat-form-field>
                                <input matInput placeholder="Nombre" name="nombre" formControlName="nombre"  >
                            </mat-form-field>
                        </mat-list-item>
                        <mat-list-item>
                            <mat-form-field>
                                <input matInput placeholder="Ingresa tu email" name="email" formControlName="email"  required>
                                <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                            </mat-form-field>
                        </mat-list-item>


                        <mat-list-item>
                                <mat-form-field>
                                <input matInput placeholder="Contraseña " [type]="hide ? 'password' : 'text'" name="contrasena" formControlName="contrasena" >
                                <label mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </label>
                                </mat-form-field>
                        </mat-list-item>

                        <mat-list-item>
                            <mat-radio-group aria-label="Seleccione"  formControlName="sexo" name="sexo" >
                                <mat-radio-button value="1">Hombre</mat-radio-button>
                                <mat-radio-button value="0">Mujer</mat-radio-button>
                            </mat-radio-group>
                        </mat-list-item>
                        <!-- image profile -->

                        <mat-grid-list cols="3" rowHeight="4:1">
                            <mat-grid-tile class="left">
                                <label for="image"  class="btn btn-outline-light">
                                    <div  #imageprofile name="imageprofile" for="image"  class="image-user">
                                    </div>
                                </label>
                                <label for="image" class="upload-snipper" mat-stroked-button routerLink=".">Subir Pago</label>
                                <input id="image" type="file"  class="custom-file-input" name="image" (change)="fileChangeEvent($event)" />
                            </mat-grid-tile>
                            <mat-grid-tile> </mat-grid-tile>
                            <mat-grid-tile class="mat-grid-tile mat-figure">

                                    <mat-icon (click)="clickOpenDialogInfo()" >info</mat-icon>

                            </mat-grid-tile>
                        </mat-grid-list>
                        <br/>


                        <mat-list-item>
                            <label for="image">
                                <div *ngIf="fileUploadProgress">
                                Upload progress: {{ fileUploadProgress }}
                                </div>
                                <div   class="image-preview mb-3 btn-center" *ngIf="previewUrl">
                                    <img [src]="previewUrl" height="70" />
                                </div>

                                <div  *ngIf="uploadedFilePath">
                                    {{uploadedFilePath}}
                                </div>
                            </label>
                        </mat-list-item>
                        <!-- image profile -->
                        <mat-list-item>
                            <br>
                            <div class="btn-center">
                                <button mat-flat-button color="primary">Registrarme</button>
                            </div>
                        </mat-list-item>
                        </mat-list>
                    </form>
            </div>
            </mat-tab>

        </mat-tab-group>

    </mat-card>
</div>






<button mat-button [matMenuTriggerFor]="menu" class="bottom-bar" >Más</button>
<mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/registrar-modelo" >Únete </button>
    <button mat-menu-item   >Nosotros</button>
</mat-menu>

