
<div class="card-center">
    <mat-card class="example-card">
        <mat-tab-group>
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon class="example-tab-icon">account_circle</mat-icon>
                    Login
                </ng-template>
                <form [formGroup]="FormLogin" (ngSubmit)="Login()">
                    <mat-list>
                        <mat-list-item>
                            <mat-form-field>
                                <input matInput placeholder="Ingresa tu email" name="emailLogin" formControlName="emailLogin"
                                 required>
                                <mat-error *ngIf="email.invalid">{{getErrorMessageLogin()}}</mat-error>
                            </mat-form-field>
                        </mat-list-item>

                        <mat-list-item>
                            <mat-form-field>
                            <input matInput placeholder="Contraseña"  name="claveLogin" formControlName="claveLogin" [type]="hide ? 'password' : 'text'"
                            required >
                            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                            </mat-form-field>
                        </mat-list-item>

                        <mat-list-item>
                            <div class="btn-center">
                                <button mat-flat-button color="primary">Entrar</button>
                            </div>
                        </mat-list-item>


                    </mat-list>
                </form>
            </mat-tab>

            <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon">person_add</mat-icon>
                Registrarse
            </ng-template>


            <div class="example-container">
                <form [formGroup]="Form" (ngSubmit)="Registrar()">
                    <mat-list>
                        <mat-list-item>
                            <mat-form-field>
                                <input matInput placeholder="Nombre" name="nombre" formControlName="nombre"  >
                            </mat-form-field>
                        </mat-list-item>
                        <mat-list-item>
                            <mat-form-field>
                                <input matInput placeholder="Ingresa tu email" name="email" formControlName="email"  required>
                                <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                            </mat-form-field>
                        </mat-list-item>


                        <mat-list-item>
                                <mat-form-field>
                                <input matInput placeholder="contraseña " [type]="hide ? 'password' : 'text'" name="contrasena" formControlName="contrasena" >
                                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>
                                </mat-form-field>
                        </mat-list-item>

                        <mat-list-item>
                            <mat-form-field class="example-full-width">
                                <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" placeholder="Fecha Nacimiento" name="calendar"
                                formControlName="calendar" >

                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                        </mat-list-item>

                        <mat-list-item>
                            <mat-radio-group aria-label="Seleccione"  formControlName="sexo" name="sexo" >
                                <mat-radio-button value="1">Hombre</mat-radio-button>
                                <mat-radio-button value="0">Mujer</mat-radio-button>
                            </mat-radio-group>
                        </mat-list-item>

                        <mat-list-item>
                            <div class="btn-center">
                                <button mat-flat-button color="primary">Unirme</button>
                            </div>
                        </mat-list-item>



                        </mat-list>
                    </form>
            </div>
            </mat-tab>

        </mat-tab-group>

    </mat-card>
</div>






  <button mat-button [matMenuTriggerFor]="menu" class="bottom-bar" >Más</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item   >Nosotros</button>
  <button mat-menu-item routerLink="/registrar-modelo" routerLinkActive="active" >Únete </button>
</mat-menu>

