<mat-list>
    <div *ngFor="let user of users;  index as i"  #user._id  [attr.id]="'card'+i" [attr.data-index]="'card'+i"
        #materialcard  name="material-card" class=" Blue-Grey">
        <mat-grid-list cols="4" rowHeight="6:1">
            <mat-grid-tile> {{user.nombres }}</mat-grid-tile>
            <mat-grid-tile></mat-grid-tile>
            <mat-grid-tile>
                <button mat-button (click)="openDialog(user)" >Datos</button>
            </mat-grid-tile>
            <mat-grid-tile>

            </mat-grid-tile>
        </mat-grid-list>
        <mat-divider></mat-divider>

    </div>
</mat-list>
<section>
    <div class="example-button-row">
        <button mat-stroked-button color="primary"  *ngIf="page > 1" [routerLink]="['/home/admin/modelos', prev_page]"  >Anterior</button>
        <button *ngIf="page == 1" mat-raised-button   [attr.disabled]="false" disabled>Anterior</button>
        <span class="page-item" *ngFor="let item of arrayOne(pages); let i = index;">
            <button  mat-mini-fab   color="primary" [routerLink]="['/home/admin/modelos', i+1]">{{i+1}}</button>
        </span>
        <button *ngIf="page !== pages"  [routerLink]="['/home/admin/modelos', next_page]" mat-stroked-button color="primary" > Siguiente</button>
        <button  *ngIf="page == pages"  mat-stroked-button color="primary"  [attr.disabled]="false" disabled> Siguiente</button>
    </div>
</section>
