<!-- <head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css">
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">

  </head>

  <body>

        <aside class="mdc-drawer mdc-drawer--dismissible">
          <div class="mdc-drawer__content">
            <nav class="mdc-list">
                <div class="espacio">

                </div>
                <div>
                    <div class="img-avatar">
                        <img width="100px" src="https://storage.googleapis.com/packback-marketing.appspot.com/1/2019/08/yourAvatar-2.png" alt="avatar">
                    </div>
                    <p class="margin"> <b>Hola Daniel</b> </p>
                    <p class="margin"> Plan <span  class="tipo-plan" >Coorporativo</span > </p>
                </div>
                <div class="espacio-after">

                </div>
              <a class="mdc-list-item mdc-list-item--activated" href="#" aria-current="page">
                 <span class="material-icons">
                    home
                    </span>
                <span class="mdc-list-item__text">  &nbsp;Inicio</span>
              </a>

              <a class="mdc-list-item" href="#">
                <span class="material-icons">
                    account_circle
                </span>
                <span class="mdc-list-item__text"> &nbsp; Mi cuenta</span>
              </a>

              <a class="mdc-list-item" href="#" >
                <span class="material-icons">
                    list_alt
                    </span>
                <span class="mdc-list-item__text"> &nbsp; Historial de Pedidos</span>
              </a>


              <a class="mdc-list-item" href="#" >
                <span class="material-icons">
                    local_phone
                    </span>
                <span class="mdc-list-item__text"> &nbsp; Ayuda</span>


              </a>



            </nav>
          </div>
        </aside>



    <div class="mdc-drawer-app-content">
      <header class="mdc-top-app-bar app-bar" id="app-bar">
        <div class="mdc-top-app-bar__row">
          <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
            <button class="material-icons mdc-top-app-bar__navigation-icon mdc-icon-button">menu</button>
            <div class="text-title">
                <span class="mdc-top-app-bar__title letter-title" href="#" >Sabroso</span>
            </div>
          </section>
        </div>
      </header>


      <main class="main-content" id="main-content">
        <div class="espacio">
        </div>
        <br>



        <div class="main-center">
        <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title><b>Sabroso</b> </mat-card-title>
              <mat-card-subtitle>Comida Típica variada</mat-card-subtitle>
              <mat-card-subtitle>
                <br>
                <table style="width:100%">
                    <tr>
                      <th>  Precio</th>
                      <th>Horario </th>
                    </tr>
                    <tr>
                      <th>$4.00</th>
                      <th>10:00 pm</th>
                    </tr>

                  </table>


              </mat-card-subtitle>


              <div class="btn-vermenu">
                  <button mat-button>Ver Menu</button>
                </div>
            </mat-card-header>

          </mat-card>
        </div>

          <div class="mdc-top-app-bar--fixed-adjust">
            <router-outlet></router-outlet>

        </div>
      </main>
    </div>
</body>

 -->

<router-outlet></router-outlet>
