<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css">
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>


</head>

<body>
    <section id="header">
        <div class="mdc-drawer-app-content">
            <header class="mdc-top-app-bar app-bar" id="app-bar">
                <div class="mdc-top-app-bar__row">
                    <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
                        <button class="material-icons mdc-top-app-bar__navigation-icon mdc-icon-button"  >menu</button>
                        <span class="mdc-top-app-bar__title" [routerLink]="['/home']" (click)="test()" >Click</span>
                    </section>
                </div>
            </header>

        </div>
    </section>

    <section>

        <aside  id="drawerid" class="mdc-drawer mdc-drawer--modal">
          <div class="mdc-drawer__content">
            <nav class="mdc-list" (click)="list()" >
               <a  *ngIf="user.tipo == 7" id="item1" class="mdc-list-item mdc-list-item--activated" [routerLink]="['/home/principal']" aria-current="page" tabindex="0">
                    <i class="material-icons mdc-list-item__graphic" aria-hidden="true">home</i>
                    <span class="mdc-list-item__text"  >Inicio </span>
              </a>
              <a *ngIf="user.tipo == 8" class="mdc-list-item" [routerLink]="['/home/perfil-modelo']" aria-current="page" tabindex="0">
                    <i class="material-icons mdc-list-item__graphic" aria-hidden="true"> account_circle</i>
                    <span class="mdc-list-item__text">Perfil Modelo</span>
              </a>

              <!--
              <a  class="mdc-list-item" href="#" *ngIf="user.tipo == 7" >
                    <i class="material-icons mdc-list-item__graphic" aria-hidden="true">   person</i>
                    <span class="mdc-list-item__text">Perfil</span>
              </a>
            -->


                <a class="mdc-list-item"   (click)="logout()">
                    <i class="material-icons mdc-list-item__graphic" aria-hidden="true">exit_to_app</i>
                    <span class="mdc-list-item__text">Salir </span>
                </a>
            </nav>
          </div>
        </aside>


        <div id="scrollbar" class="mdc-drawer-scrim">
        </div>
    </section>


    <div class="mdc-top-app-bar--fixed-adjust">
        <router-outlet></router-outlet>
    </div>

</body>



