<mat-list>
    <h1>El Pago</h1>
    <p>Para registrarse es necesesario realizar una transferencia de <b>$10</b> al <a href="https://www.intermatico.com/ebanking/seguridad/login.htm"  target="_blank">Banco del Pacífico</a>  a la cuenta de <b>ahorros</b> al nro <b>1040599671</b> esta a nombre Jerson Carranza</p>
    <p>Ó el banco de <b> Pichincha</b>   a la cuenta de <b>ahorros</b> al nro <b>4621464700</b> esta a nombre Victoria Lucas</p>
</mat-list>
<mat-list>
    Nota: Si tienes alguna duda envía un mensaje a jersoncarranza2@gmail.com
</mat-list>


<mat-grid-list   cols="3" rowHeight="3:1">
    <mat-grid-tile> </mat-grid-tile>
    <mat-grid-tile>    <button mat-button (click)="onClose()">Cerrar</button> </mat-grid-tile>
    <mat-grid-tile> </mat-grid-tile>
</mat-grid-list>
